<ion-header>
  <ion-toolbar>
    <ion-title>Connect</ion-title>
    <ion-button [routerLink]="['../']" slot="end">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="scan()"
    >Scan <ion-icon name="bluetooth"></ion-icon
  ></ion-button>

  <ion-list-header>Discovered devices</ion-list-header>
  <ion-list>
    <ion-button (click)="listConnectedDevices()">List all devices</ion-button>
    <ion-card-content *ngFor="let peripheral of peripherals">
      <p (click)="connect(peripheral.id)">{{peripheral.name || "Unnamed"}}</p>
      <p>
        {{peripheral.id}}
        <span *ngIf="connectedDevices.includes(peripheral.id)"></span>
        <ion-icon name="checkmark-outline" class="good-signal"></ion-icon>
        <ion-icon
          name="close"
          class="poor-signal"
          (click)="disconnect(peripheral.id)"
        ></ion-icon>
      </p>
      <p>
        RSSI: + {{peripheral.rssi}} ><ion-icon
          *ngIf="peripheral.rssi < -90; else goodSignal"
          name="bar-chart"
          slot="end"
          class="poor-signal"
        ></ion-icon
        ><ng-template #goodSignal>
          <ion-icon name="bar-chart" slot="end" class="good-signal"></ion-icon
        ></ng-template>
      </p>
    </ion-card-content>
    <!--  <ion-item (click)="connect(peripheral)"> {{peripheral}} </ion-item>
    -->
    <!-- <ion-label>Status message: {{statusMessage}}</ion-label>
   --></ion-list
  >

  <!-- <div (click)="connect(peripherals[0])">Donji izbornik: {{peripherals}}</div>
 --></ion-content
>
