<ion-header>
  <ion-toolbar>
    <ion-title>Connect</ion-title>
    <ion-button [routerLink]="['../']" slot="end"
      ><ion-icon name="arrow-undo"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-button class="scanBtn" (click)="scan()"
      >Scan <ion-icon name="bluetooth"></ion-icon
    ></ion-button>
    <ion-button *ngIf="connectedDevices.length > 0" (click)="disconnectAll()"
      >Disconnect All
      <ion-icon name="close-circle-outline"></ion-icon></ion-button
  ></ion-card-header>
  <div id="connectFunctionalities">
    <ion-title>Discovered devices </ion-title>
    <ion-content
      class="deviceList"
      *ngIf="peripherals.length > 0; else NoConnectedDevices"
    >
      <div class="foundDevices" *ngFor="let peripheral of peripherals">
        <ion-item-divider>
          <ion-card class="deviceCard">
            <ion-card-title (click)="connect(peripheral.device.id)">
              {{peripheral.device.name || "Unnamed"}}
              <span *ngIf="isConnected(peripheral.device.id)">
                <ion-icon
                  name="checkmark-outline"
                  class="good-signal"
                ></ion-icon>
              </span>
            </ion-card-title>
            <ion-card-subtitle> {{peripheral.device.id}} </ion-card-subtitle>
            <p>
              RSSI:
              <span
                *ngIf="peripheral.rssi < -90; else goodSignal"
                class="poor-signal"
                >{{peripheral.device.rssi}}</span
              >
              <ng-template #goodSignal>
                <span class="good-signal"
                  >{{peripheral.device.rssi}}</span
                ></ng-template
              >
            </p>
          </ion-card>
        </ion-item-divider>
      </div>
    </ion-content>
    <ng-template #NoConnectedDevices>
      <div id="no-connection">
        <ion-spinner name="dots"></ion-spinner>
        <ion-card-subtitle>Click scan!</ion-card-subtitle>
        <ion-img
          src="https://ouch-cdn2.icons8.com/1ZZrDFEr7Z5IT-89YDCw610CPo2TqbQSKsej5p-bTjY/rs:fit:1216:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjgx/LzZmNDVjOWQyLWQx/ZDQtNGRlYS1iNjM5/LTBkNDMwN2E0OTRk/MS5zdmc.png"
        ></ion-img>
        <span class="credit"
          >Illustration by
          <a
            href="https://icons8.com/illustrations/author/5eb2a7bd01d0360019f124e7"
            >Olha Khomich</a
          >
          from <a href="https://icons8.com/illustrations">Ouch!</a></span
        >
      </div>
    </ng-template>
  </div>
</ion-content>
