<ion-header>
  <ion-title>Read</ion-title>
  <ion-button [routerLink]="['../']"
    ><ion-icon name="arrow-undo"></ion-icon
  ></ion-button>
</ion-header>
<ion-list *ngIf="connectedDevices.length > 1">
  <ion-item>
    <ion-label>Connected devices</ion-label>
    <ion-select
      placeholder="Select One"
      interface="popover"
      (ionChange)="onEntityChange($event)"
      cancelText="Cancel"
      okText="Select"
    >
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option
        *ngFor="let device of connectedDevices"
        [value]="device.device.name"
      >
        {{device.device.name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-button
  class="read-button"
  *ngIf=" connectedDevices.length > 0"
  (click)="read()"
  >Read</ion-button
>
<ion-content>
  <ng-container *ngIf="connectedDevices.length === 0;else oneConnectedDevice">
    <div id="no-connection">
      <ion-title>No connected devices</ion-title>
      <ion-spinner name="dots"></ion-spinner>
      <ion-button [routerLink]="['../connect']">Connect here</ion-button>
      <ion-img
        src="https://ouch-cdn2.icons8.com/1ZZrDFEr7Z5IT-89YDCw610CPo2TqbQSKsej5p-bTjY/rs:fit:1216:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjgx/LzZmNDVjOWQyLWQx/ZDQtNGRlYS1iNjM5/LTBkNDMwN2E0OTRk/MS5zdmc.png"
      ></ion-img>
      <span class="credit"
        >Illustration by
        <a
          href="https://icons8.com/illustrations/author/5eb2a7bd01d0360019f124e7"
          >Olha Khomich</a
        >
        from <a href="https://icons8.com/illustrations">Ouch!</a></span
      >
    </div>
  </ng-container>
  <ng-template #oneConnectedDevice>
    <ng-container
      *ngIf="displayMultiple === false && deviceToBeDisplayed ;else multipleConnectedDevices"
    >
      <app-one-connected-device
        [connectedDevice]="deviceToBeDisplayed"
      ></app-one-connected-device>
    </ng-container>
  </ng-template>
  <ng-template #multipleConnectedDevices>
    <app-multiple-connected-devices
      [connectedDevices]="connectedDevices"
    ></app-multiple-connected-devices> </ng-template
></ion-content>
