<ion-header>
  <ion-toolbar>
    <ion-title>Chart</ion-title>
    <ion-button [routerLink]="['../']" slot="end">Back</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="connectedDevices.length === 0;else chartContainer">
    <div id="no-connection">
      <ion-title>No connected devices</ion-title>
      <ion-spinner name="dots"></ion-spinner>
      <ion-button [routerLink]="['../connect']">Connect here</ion-button>
      <ion-img
        src="https://ouch-cdn2.icons8.com/1ZZrDFEr7Z5IT-89YDCw610CPo2TqbQSKsej5p-bTjY/rs:fit:1216:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjgx/LzZmNDVjOWQyLWQx/ZDQtNGRlYS1iNjM5/LTBkNDMwN2E0OTRk/MS5zdmc.png"
      ></ion-img>
      <span class="credit"
        >Illustration by
        <a
          href="https://icons8.com/illustrations/author/5eb2a7bd01d0360019f124e7"
          >Olha Khomich</a
        >
        from <a href="https://icons8.com/illustrations">Ouch!</a></span
      >
    </div>
  </ng-container>
  <ng-template #chartContainer>
    <ng-container *ngIf="updating;else Chart">
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-container>
    <ng-template #Chart>
      <ion-list *ngIf="connectedDevices.length > 1">
        <ion-item>
          <ion-label>Connected devices</ion-label>
          <ion-select
            placeholder="Select One"
            interface="popover"
            (ionChange)="onChooseDevice($event)"
            cancelText="Cancel"
            okText="Select"
          >
            <ion-select-option
              *ngFor="let device of connectedDevices"
              [value]="device.device.name"
            >
              {{device.device.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <div *ngIf="selectedDevice">
            <ion-chip
              #OneHourChip
              (click)="createChart('1hour'); toggleChip(OneHourChip, [OneDayChip,OneWeekChip], '1hour')"
            >
              <ion-label>1 hour</ion-label>
            </ion-chip>

            <ion-chip
              #OneDayChip
              (click)="createChart('24hours'); toggleChip(OneDayChip, [OneHourChip,OneWeekChip], '1day' )"
            >
              <ion-label>1 day</ion-label>
            </ion-chip>
            <ion-chip
              #OneWeekChip
              (click)="createChart('1week'); toggleChip(OneWeekChip, [OneHourChip, OneDayChip], '1week')"
            >
              <ion-label>1 week</ion-label>
            </ion-chip>
          </div>
        </ion-row>
        <ion-row>
          <div *ngIf="selectedDevice">
            <ion-select
              placeholder="Select One"
              interface="popover"
              (ionChange)="onChooseMeasure($event)"
              cancelText="Cancel"
              okText="Select"
            >
              <ion-select-option value="min"> Minimum</ion-select-option>
              <ion-select-option value="max"> Maximum</ion-select-option>
              <ion-select-option value="avg"> Average</ion-select-option>
            </ion-select>
            <!--

            <ion-chip #Minimum (click)="minimum()">
              <ion-label>Minimum</ion-label>
            </ion-chip>
            <ion-chip
              #Maximum
              (click)="maximum(); toggleChip(Maximum, [Minimum,Average])"
            >
              <ion-label>Maximum</ion-label>
            </ion-chip>
            <ion-chip
              #Average
              (click)="average(); toggleChip(Average, [Minimum, Maximum])"
            >
              <ion-label>Average</ion-label>
            </ion-chip>
        -->
          </div>
        </ion-row>
        <ion-row><div id="chartdiv" #chartElement></div> </ion-row>
      </ion-grid>
    </ng-template>
  </ng-template>
</ion-content>
