ion-slides{
  height:100%;
  margin-top: 10vh
}
.swiper-slide {
  height: 50vh;
  width:-webkit-fill-available;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-columns: 100%;
  background-color: #4756c2;
  border-radius: 20%;
  margin: 10%;
  //border: solid 1px #4756c2 ;
  align-items: center;
  justify-items: center;
}
ion-footer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 0% 0% 20% 20%;

  /* display: flex;
  /* flex-direction: column;
  align-items: left;
  background: #ffffff;
  color:black;
  height: 100%;
  width: inherit; */
}
ion-label {
  margin-top: 5%;
  margin-left: 5%;
  color: black;
  text-align: start;
}
ion-avatar {
  width: 75%;
  height: 75%;
}
ion-card-subtitle {
  margin-top: 5%;
  color: grey;
}
ion-icon{
  width: 100%;
  height:90%
}

