p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-slides {
  height: 100%;
}

ion-slide {
  display: block;
}

ion-label,
.select-text {
  margin-left: 10px;
}

.invalid {
  border: 1px solid #ea6153;
}

ion-card-content {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  width: 100vw;
  height: -webkit-fill-available;
  position: inherit;
}
:host {
  ion-item {
      --border-color: white; // default underline color
      --highlight-color-invalid: lightcoral; // invalid underline color
      --highlight-color-valid: skyblue; // valid underline color
  }
}
ion-item.item-has-focus > ion-label{
  color: skyblue !important;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
ion-card {
  overflow: hidden;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-variant-caps: all-small-caps;
}
ion-card-title {
  font-family: monospace;
  font-variant-caps: all-small-caps;
}
ion-card-subtitle {
  font-family: monospace;
  font-variant-caps: all-small-caps;
}
#no-connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  margin-top: 25%;
}
#commentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
}
ion-button {
  --background: gold;
}
ion-button:hover {
  transform: scale(1.2);
}
ion-header ion-button {
  margin-right: 2vw;
  --background: lightskyblue;
}
ion-input {
  font-family: monospace;
  border-bottom: 1px solid lightskyblue;
}
.read-button {
  margin: 2.5vh 0 0.5vh 0;
  align-self: center;
  width: 25%;
}
ion-content {
  display: flex;
  justify-content: center;
}
.header-md::after {
  background-image: none;
  border-bottom: 0.5vh solid lightcoral;
}
ion-header ion-title {
  color: lightskyblue;
  font-family: monospace;
  font-stretch: semi-expanded;
  letter-spacing: 3vw;
  font-weight: 400;
  font-size: x-large;
}
.credit {
  color: lightgrey;
  font: status-bar;
}
div ion-title {
  font: small-caption;
  font-weight: 800;
  letter-spacing: 5px;
  color: gold;
}
ion-spinner {
  color: goldenrod;
  height: 10vh;
  margin-top: -10vh;
}
ion-header {
  display: flex;
  margin-top: 2vh;
  padding-bottom: 1vh;
}
ion-card-header {
  display: flex;
  border-bottom: 0.5vw solid lightskyblue;
  border-top: 1vw solid gold;
  width: 100%;
  justify-content: start;
  align-items: center;
}
ion-checkbox {
  margin-left: 2vw;
}
ion-select {
  font-family: monospace;
  font-variant-caps: all-small-caps;
}
ion-list ion-label {
  font: small-caption;
  font-weight: 800;
  letter-spacing: 5px;
  color: gold;
  text-align: center;
}

google-map {
  position: static !important;
}
